@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.prism{
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}